<nav>
	<div class="nav-wrapper" style="background: #8A0829">
		<div class="container">
			<a href="index.php" class="brand-logo">Polyglot</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="index.php">Главная</a></li>
				<li><a href="authorization.php">Войти</a></li>
			</ul>
		</div>
	</div>
</nav> 
<br><br>

<div class="container">
		<div class="card white">
			<div style="padding: 20px ">
				<div class="row" style="color: #424242;">
					<div class="col xl4 m4 12 center-align" >
						<i class="material-icons md-dark md-inactive" style="font-size: 70px" >search</i>
						<h4 style="font-weight: 300; font-size: 35px">Поиск</h4>
						<p>Невероятно быстрый поиск слов с транскрипцией, переводом и примерами применения данного слова</p>
					</div>

					<div class="col xl4 m4 12 center-align">
						<i class="material-icons md-dark md-inactive" style="font-size: 70px" >backup</i>
						<h4 style="font-weight: 300; font-size: 35px">Добавление</h4>
						<p>Возможность разширять базу данных новыми словами\текстами за дополнительные бонусы!</p>
					</div>

					<div class="col xl4  m4 12 center-align">
						<i class="material-icons md-dark md-inactive" style="font-size: 70px" >https</i>
						<h4 style="font-weight: 300; font-size: 35px">Защита</h4>
						<p>Полная защита всех ваших личных данных от посторонних лиц!</p>
					</div>
				</div><br>

				<div class="row" style="color: #424242;">
					<div class="col xl4 m4 12 center-align">
						<i class="material-icons md-dark md-inactive" style="font-size: 70px" >assignment</i>
						<h4 style="font-weight: 300; font-size: 35px">Индивидуальность</h4>
						<p>Индивидуальное составление плана обучения для более качественного запоминания слов!</p>
					</div>

					<div class="col xl4 m4 12 center-align">
						<i class="material-icons md-dark md-inactive" style="font-size: 70px" >add_alarm</i>
						<h4 style="font-weight: 300; font-size: 35px">Настройка</h4>
						<p>Гибкая настройка графика для каждого!</p>
					</div>

					<div class="col xl4 m4 12 center-align">
						<i class="material-icons md-dark md-inactive" style="font-size: 70px" >message</i>
						<h4 style="font-weight: 300; font-size: 35px">Помощь</h4>
						<p>Возможность связаться с администратором по возникшей проблеме!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
	<div class="container">
		<div class="row">
			<div class="center-align">
				<a class="waves-effect waves-light  btn" id="join" style="background-color: #8A0829" href="registration.php">Присоединиться!</a>
			</div>
		</div>
	</div>