<nav>
	<div class="nav-wrapper" style="background: #8A0829">
		<div class="container">
			<a href="index.php" class="brand-logo">Polyglot</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="index.php">Главная</a></li>
				<li><a href="statistics.php" >Статистика</a></li>
				<li><a href="words.php" >Словарь</a></li>
				<li><a onclick="exit()">Выйти</a></li>
			</ul>
		</div>
	</div>
</nav> 
<br><br>

<div class="container">
	<div class="card white block" style="font-size: 23px; width: 100%;margin: auto; font-weight: 300;" >
	<div style="padding: 35px ">

	<div class="card-title">
		<a style="color: #424242; font-size: 30px; margin-top: 5px">Меню</a>
	</div>
<div class="divider"></div>
<div class="content">

	<div class="row" style="margin-top: 50px">
		<a href="test.php" style="color: #424242;">
			<div class="col s4 center-align">
				<i class="material-icons md-dark" style="font-size: 65px" >check_box</i>
				<p>Тесты</p>
			</div>
		</a>
		
		<a href="book.php" style="color: #424242;">
			<div class="col s4 center-align" >
				<i class="material-icons md-dark " style="font-size: 65px" >picture_as_pdf</i>
				<p>Учебники</p>
			</div>
		</a>

		<a href="words.php" style="color: #424242;">
			<div class="col s4 center-align">
				<i class="material-icons md-dark" style="font-size: 65px" >sort_by_alpha</i>
				<p>Словарь</p>
			</div>	
		</a>
	</div>
	<br>
	<div class="row">

		<a href="favorites.php" style="color: #424242;">
			<div class="col s4 center-align">
				<i class="material-icons md-dark md-inactive" style="font-size: 65px" >star_half</i>
				<p>Мои слова</p>
			</div>
		</a>

		<a href="statistics.php" style="color: #424242;">
			<div class="col s4 center-align">
				<i class="material-icons md-dark md-inactive" style="font-size: 65px" >assessment</i>
				<p>Моя Статистика</p>
			</div>
		</a>
	</div>
</div>
</div>
</div>
</div>
